{% extends "layout.html" %}

{% block container %}

{% import "_macros.html" as macros %}

<form method="POST" action="" novalidate class="max-w-sm mx-auto">

    {{ form.csrf_token }}

    <div>
        
        {{ macros.camposNuevos(form.nombre, clase="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs") }}
    </div>

    <div>
        
        {{ macros.camposNuevos(form.apaterno, clase="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs") }}
    </div>

    <div>
        
        {{ macros.camposNuevos(form.email, clase="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs") }}
    </div>

    <div class="mt-4">
        <button type="submit"
            class="bg-brand text-white px-4 py-2 rounded-base shadow-xs">
            Guardar
        </button>
    </div>

</form>

{% endblock %}