{% extends "layout.html" %}

{% block container %}

<div class="max-w-md mx-auto bg-white shadow-md rounded-lg p-6">

    <h2 class="text-xl font-bold mb-4 text-center">
        Detalles del Alumno
    </h2>

    <div class="mb-3">
        <label class="block text-sm font-semibold text-gray-600">
            Nombre
        </label>
        <p class="bg-gray-100 p-2 rounded">
            {{ nombre }}
        </p>
    </div>

    <div class="mb-3">
        <label class="block text-sm font-semibold text-gray-600">
            Apellido Paterno
        </label>
        <p class="bg-gray-100 p-2 rounded">
            {{ apaterno }}
        </p>
    </div>

    <div class="mb-3">
        <label class="block text-sm font-semibold text-gray-600">
            Email
        </label>
        <p class="bg-gray-100 p-2 rounded">
            {{ email }}
        </p>
    </div>

    <div class="mt-4 text-center">
        <a href="{{ url_for('index') }}"
           class="bg-brand text-white px-4 py-2 rounded-base shadow-xs">
            Regresar
        </a>
    </div>

</div>

{% endblock %}