{% extends "layout.html" %}
{% block container %}

<form class="max-w-sm mx-auto mt-5 bg-white p-6 rounded-xl shadow"
      method="post" novalidate>

    {{ form.csrf_token }}

    {{ form.id(type="hidden") }}

    <h2 class="text-xl font-bold mb-6 text-center text-red-600">
        Confirmar eliminación
    </h2>

    <div class="mb-5">
        {{ form.nombre.label(class="block mb-2 text-sm font-medium") }}
        {{ form.nombre(class="block w-full border rounded px-3 py-2 bg-gray-100", disabled=True) }}
    </div>

    <div class="mb-5">
        {{ form.apellidos.label(class="block mb-2 text-sm font-medium") }}
        {{ form.apellidos(class="block w-full border rounded px-3 py-2 bg-gray-100", disabled=True) }}
    </div>

    <div class="mb-5">
        {{ form.email.label(class="block mb-2 text-sm font-medium") }}
        {{ form.email(class="block w-full border rounded px-3 py-2 bg-gray-100", disabled=True) }}
    </div>

    <div class="flex gap-3 mt-6 justify-center">

        <button type="submit"
            class="text-white bg-danger box-border border border-transparent 
                   hover:bg-danger-strong focus:ring-4 focus:ring-danger-medium 
                   shadow-xs font-medium leading-5 rounded-full text-sm 
                   px-4 py-2.5 focus:outline-none">
            Eliminar
        </button>

        <a href="{{ url_for('index') }}"
          class="text-white bg-brand box-border border border-transparent 
                   hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium 
                   shadow-xs font-medium leading-5 rounded-full text-sm 
                   px-4 py-2.5 focus:outline-none">
            Salir
        </a>

    </div>

</form>

{% endblock %}